@fontFam: 'Anonymous';
@fontFam2: 'Roboto';
@black: #221f1f;
@white: #ffffff;
@facebook-color: #3b569a;
@red: #e1585c;
@gray: #828282;

.container {
  margin-top: 40px;
  .loginGoogle {
    width: 100%;
    display: block;
    height: 54px;
    line-height: 54px;
    border-radius: 8px;
    color: @black;
    background-color: @white;
    font-family: @fontFam2;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: all 0.3s ease-in-out;
    margin-bottom: 10px;
    font-size: 15px;
    background-image: url(../../../assets/icon_google.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }
  .loginFacebook {
    width: 100%;
    display: block;
    height: 54px;
    line-height: 54px;
    border-radius: 8px;
    color: @white;
    background-color: @facebook-color;
    font-family: @fontFam2;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    transition: all 0.3s ease-in-out;
    font-size: 15px;
    background-image: url(../../../assets/icon_facebook.png);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 24px 24px;
    &:hover {
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    }
  }
}

@media (max-width: 575px) {
  .container {
    padding: 0 15px;
    .loginFacebook,
    .loginGoogle {
      height: 44px;
      line-height: 44px;
    }
  }
}
