@highlight: #f9c120;
@highlight2: #e1585c;
@black: #221f1f;

.container {
  margin-bottom: 36px;
  .title {
    font-family: 'Square';
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0px;
    color: @black;
    .highLight {
      color: @highlight;
    }
    .highLight2 {
      color: @highlight2;
    }
  }
}
