@import '../../less/theme.less';

@fontFam: 'Anonymous';
@fontFam2: 'Roboto';

.container {
  font-family: @fontFam;
  height: 100%;
  max-width: 350px;
  .remember {
    color: @black;
    font-size: 14px;
    &:hover {
      :global {
        .ant-checkbox-inner {
          border-color: @red;
          font-family: @fontFam;
        }
      }
    }
  }
  .passwordForgot {
    color: @red;
    cursor: pointer;
    display: inline-block;
    font-family: @fontFam;
    font-weight: 700;
    &:hover {
      opacity: 0.7;
    }
  }
  .btnSubmit {
    display: block;
    width: 100%;
    height: 56px;
    border-radius: 8px;
    height: 54px;
    font-weight: 700;
    color: @white;
    font-family: @fontFam;
    border-color: @black;
    background-color: @black;
    font-size: 16px;
    &:hover {
      background-color: @red;
      color: @white;
      border-color: @red;
    }
  }
  .userLogo {
    height: 20px;
    width: 20px;
    background: url(../../assets/icon_user.png) no-repeat center 0;
    background-size: 20px 20px;
  }
  .passwordLogo {
    height: 20px;
    width: 20px;
    background: url(../../assets/icon_password.png) no-repeat center 0;
    background-size: 20px 20px;
  }
  .boxAction {
    text-align: center;
    margin-top: 15px;
    color: @black;
    p {
      text-align: center;
      margin: 0 auto;
      font-size: 14px;
    }
    .signup {
      display: inline-block;
      color: @red;
      font-weight: 700;
      &:hover {
        opacity: 0.7;
      }
    }
  }
  :global {
    input,
    button,
    select,
    optgroup,
    textarea {
      font-family: @fontFam;
    }
    .ant-btn:hover,
    .ant-btn:focus,
    .ant-btn:active {
      background-color: @red;
    }
    .ant-btn:hover,
    .ant-btn:focus {
      color: @white;
      border-color: @red;
    }
    .ant-checkbox-inner {
      background-color: transparent;
      border-color: @red;
      border-radius: 4px;
      width: 20px;
      height: 20px;
      &::after {
        left: 30%;
      }
    }
    .ant-checkbox-checked::after {
      border: 1px solid @red;
      border-radius: 4px;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: @red;
      border-color: @red;
    }
    .ant-input-affix-wrapper {
      font-family: AR;
      border-left: none;
      border-right: none;
      border-top: none;
      background-color: transparent;
      border-color: @gray;
      box-shadow: none;
      border-radius: 0;
      padding: 6px 0px;
      &:hover {
        border-color: @red;
      }
      &:focus {
        border-color: @red;
      }
      &::selection {
        border-color: @red;
      }
    }
    .ant-input {
      background-color: transparent;
      font-size: 16px;
      &::placeholder {
        color: @gray;
      }
    }
    .ant-input-prefix {
      margin-right: 7px;
    }
  }
}

@media (max-width: 575px) {
  .container {
    .form {
      padding: 0 15px;
    }
    .boxAction {
      padding: 0 15px;
    }
    .btnSubmit {
      height: 44px;
    }
    .passwordForgot {
      font-size: 13px;
    }
  }
}
