@font-face {
  font-family: 'Anonymous';
  src: url(/fonts/AnonymousPro-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Anonymous';
  src: url(/fonts/AnonymousPro-Bold.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Bold.tff) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(/fonts/Roboto-Regular.ttf) format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Square';
  src: url(/fonts/Square.ttf) format('truetype');
  font-style: normal;
  font-weight: 400;
}
