.welcome {
  @media (min-width: 1200px) {
    height: 100vh;
    flex: 1;
    background: url(../assets/bg_Login.jpg) no-repeat center 0;
    background-size: cover;
  }
}

.content {
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 20px;
  min-height: 100vh !important;
  @media (min-width: 1200px) {
    flex: none;
    width: calc(500 / 1440 * 100vw);
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .welcome {
    width: 100%;
    height: 460px;
    background: url(../assets/bg_Login.jpg) no-repeat center 0;
    background-size: cover;
  }
  .content {
    width: 100%;
    min-height: auto !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
@media (max-width: 991px) and (min-width: 576px) {
  .welcome {
    width: 100%;
    height: 345px;
    background: url(../assets/bg_Login.jpg) no-repeat center 0;
    background-size: cover;
  }
  .content {
    width: 100%;
    min-height: auto !important;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
